.tabb {
    background-color: #3852ed;
    overflow: hidden;
}

.tabb button {
    float: left;
    height: 45px;
    border: none;
    outline: none;
    transition: 0.3s;
    background-color: #3852ed;
    color: white;
    width: 49.95%;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 0.9em;
}

.tabb button:hover {
    background-color: #435eff;
    cursor: pointer;
}

.tabb button.active {
    background-color: #7386fc;
}

.tabb-link {

}

.tabb-content {
    display: none;
    padding: 5px;
}

.character-box {
    display: inline-block;
    border-style: solid;
    border-width: 0.1px;
    border-color: #d8d8d8;
    border-radius: 10px;

    width: 50px;
    height: 50px;
    text-align:center;
    font-size: 1.5em;
    margin: 5px;
}

.character-box.character { }

.character-box:hover {
    cursor: pointer;
    background-color: #d8d8d8;
    transition: 0.3s;
}

.vcenter:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.font-select {

}